$fs-primary: 62.5%;
$ff-primary: 'Red Hat Display', sans-serif;

$clr: (
	'clr-primary-pale-blue': #e0e8ff,
	'clr-primary-bright-blue': #3829e0,
	'clr-neutral-very-pale-blue': #f5f7ff,
	'clr-neutral-desaturated-blue': #7280a7,
	'clr-neutral-dark-blue': #1f2f56,
);
